/*--------------------------------------------------*\
* text color: #695252;
*link color: #308fc7;
*border color:#c2c0c0;
*green color: #71bf59;
*orange color: #d34641;
*black color : #161616;
\*--------------------------------------------------*/

/*default style*/
body {
	height: 100%;
	color: #695252;
	font: 14px/1.8 tahoma,arial,SimSun,"\5B8B\4F53",sans-serif;
	background: transparent url(../images/bg-body.jpg) repeat;
}
/*link*/
a {
  color: #308fc7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #d34641;
}
/*---------------------------------------------------*\
*icon
\*---------------------------------------------------*/
.icon {
	background-image: url(../images/icon.png);
}
/*logo*/
.icon-logo {
	width: 174px;
	height: 27px;
	background-position: -305px 0;
}
/*icon login logo*/
.icon-login-logo {
	width: 303px;
	height: 86px;
}
/*icon usernaem*/
.icon-user {
	width: 18px;
	height: 18px;
	background-position: 0 -90px;
}
/*icon password*/
.icon-password {
	width: 15px;
	height: 20px;
	background-position: -22px -89px;
}
/*icon question*/
.icon-question {
	width: 19px;
	height: 19px;
	background-position:  -43px -90px;
}
/*icon search*/
.icon-search {
	width: 14px;
	height: 20px;
	background-position: -190px -90px;
}
/*icon- account*/
.icon-account {
	width: 20px;
	height: 20px;
	background-position:  -80px -90px;
}
/*icon message*/
.icon-msg {
	width: 22px;
	line-height: 17px;
	background-position: -119px -90px;
}
/*icon logout*/
.icon-logout {
	width: 17px;
	height: 17px;
	background-position: -161px -90px;
}
/*icon go to top*/
.icon-to-top {
	width: 37px;
	height: 41px;
	background-position: -305px -36px;
}
/*icon arrow*/
.icon-arrow {
	width: 12px;
	height: 18px;
	background-position: -487px -36px;
}
/* icon upload img*/
.icon-upload-img {
	width: 14px;
	height: 14px;
	background-position: -384px -36px;
}
/*icon like*/
.icon-like {
	width: 15px;
	height: 15px;
	background-position: -360px -36px;
}
/*---------------------------------------------------*\
* btn 
\*---------------------------------------------------*/
/*login button*/
.btn-login {
	display: block;
	width: 280px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 30px;
}
/*layout*/
.wrapper {
	background: url(../images/bg-wrapper.png) no-repeat center top;
	min-height: 100%;
}
.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/*---------------------------------------------------*\
* Header
\*----------------------------------------------------*/
#header {
	background: url(../images/bg-header.png) repeat-x;
	height: 57px;
	margin-bottom: 35px;
}
#header .container {
	height: 50px;
	line-height: 50px;
}

/*nav menu*/
#nav {
	margin: 0 15px 0 0;
}
#nav > li {
	float: left;
	position: relative;
}
#nav > li > a {
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding:0 10px;
	position: relative;
}
#nav > li.haschild > a {
	padding-right: 20px;
}
#nav .haschild > a:after {
	content:"";
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -3px;
} 
#nav > li > a.active,
#nav > li > a:hover {
	background-color: rgba(255,255,255,0.1);
}
#nav ol {
	position: absolute;
	top: 100%;
	left: 0;
	width: 8em;
	margin: 0;
	background: #000;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	display: none;
}

#nav ol a {
	display: block;
	padding: 0 10px;
	color: #fff;
	line-height: 35px;
}

#nav ol a:hover {
	background-color: rgba(255,255,255,0.1);
}
#nav > li:hover ol {
	display: block;
}
/*search from*/
.search-form input {
	height: 20px;
	border-radius: 20px;
	margin: 0 15px 0 0;
	padding-left: 15px;
	padding-right: 35px;
	width: 195px;
}
.icon-search {
	position: absolute;
	right: 25px;
	top: 15px;
	z-index: 2;
	cursor: pointer;
}
/*secondary-menu*/
.secondary-menu li {
	float: left;
	height: 50px;
	line-height: 50px;
	position: relative;
}
.secondary-menu a {
	display: block;
	height: 50px;
	float: left;
	width: 55px;
	text-align: center;
}
.secondary-menu a:hover {
	background-color: rgba(255,255,255,0.1);
}
.secondary-menu .icon {
	display: inline-block;
	vertical-align: middle;
}
.secondary-menu .msg-num {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	background: #d34641;
	line-height: 1;
	padding: 3px;
	font-style: normal;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	text-align: center;
	font-size: 10px;
	font-family: arial;
}
/*---------------------------------------------------*\
* footer 
\*----------------------------------------------------*/
#footer {
	position: relative;
	z-index: 3;
}
.footer-col {
	background:url(../images/bg-footer-col.png) no-repeat center top;
	padding-top:75px; 
	min-height:290px; 
}
.footer-col .container {
	width: 940px;
	overflow: hidden;
}
.footer-col .block-wrapper {
	margin-right: -93px;
}
.footer-col .block {
	width: 165px;
	margin-right: 93px;
}
.footer-col .block-title {
	color: #fff;
	margin-bottom: 15px;
}
.footer-col .block-content li {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #343434;
}
.footer-col .block-content a {
	display: block;
	color: #fff;
	font-size:12px;
}
.footer-copyright {
	background:#040404;
	color: #fff;
	text-align: center; 
}
/*go to top*/
#go-to-top {
	position: absolute;
	bottom: 215px;
	right: -36px;
}
/*---------------------------------------------------*\
* page 
\*----------------------------------------------------*/
#page .container {
	border-radius: 5px;
	min-height: 465px;
	margin-bottom: -35px;
	box-shadow:inset 0 0  4px  rgba(0,0,0,0.2);
	
}
#page .container-wrapper {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #e2e2e2;
	border-radius: 5px;
	min-height: 465px;
}
#page .container-inner {
	float: left;
	width: 100%;
	background: #f1f1f1;
	position: relative;
	left: 170px;
	min-height: 465px;
}
#main-content {
	width: 790px;
	float:right;
	position: relative;
	right: 170px;
}
#main-content .content {
	width: 580px;
	margin-left: 20px;
	margin-right: 20px;
}
#second-sidebar {
	width: 160px;
	padding-right: 10px;
}
#first-sidebar {
	width: 170px;
	float: right;
	position: relative;
	right: 170px;
}
/*--------------------------------------------------*\
*page user login
\*--------------------------------------------------*/
.page-user-login {
	background: url(../images/bg-body-login.jpg) repeat;
}
.page-login-wrapper {
	height: 100%;
	background: url(../images/bg-page-login.jpg) no-repeat center fixed;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.page-user-login #logo {
	width: 303px;
	margin-left: auto;
	margin-right: auto;
}
/*user login*/
#user-login {
	width: 280px;
	height: 351px;
	padding: 180px 67px 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/bg-login-form.png) no-repeat;
}
#user-login .form-item {
	position: relative;
}
#user-login .form-text {
	padding-left: 35px;
	height: 30px;
	width: 235px;
	margin-bottom: 20px;
}
#user-login label.icon {
	position: absolute;
	top: 10px;
	left: 8px;
	margin: 0;
}
#user-login .form-checkbox {
	margin-right: 5px;
}
#user-login .icon-question {
	display: inline-block;
	vertical-align: middle;
}
.get-psw,
.register {
	padding-left: 20px;
}
.get-psw a {
	color: #71bf59;
}
.register a {
	color: #d34641;
}
.get-psw a:hover,
.register a:hover {
	text-decoration: underline;
}
/*---------------------------------------*\
* home page 
\*----------------------------------------*/
/*user profile block*/
.block-user-profile .stbody {
	margin-bottom: 10px;
}
.block-user-profile .stimg {
	border: 3px solid #fff;
	border-right:none;
	margin-left: 20px;
}
.block-user-profile .sttext {
	text-align: center;
}
.user-atten {
	background: #fff;
	padding: 3px;
}
.user-atten div {
	width: 50%;
	float: left;
	font-size: 12px;
	color: #308fc7;
	line-height: 1.3;
}
.user-atten span,
.user-atten i {
	display: block;
	font-style: normal;
}
.user-atten .user-badges {
	background: #308fc7;
	color: #fff;
}
.block-user-profile .title {
	font-style: 12px;
	color: #000;
	line-height: 1;
	margin-bottom: 5px;
}
.badgebox {
	overflow: hidden;
}
.badgebox ul {
	margin: 0 -7px 10px 0;
}
.badgebox li {
	float: left;
	margin-right: 7px;
}
.user-nums li {
	float: left;
	width: 50%;
	font-style: 12px;
}
/*ranking block*/
.block-add-people .stbody {
	margin-bottom: 0px;	
	font-size: 12px;
}
.block-add-people .sttext .title {
	margin-bottom: 5px;
}
.block-add-people .sttext .title a {
	background: #308fc7;
	color:#fff;
	padding: 2px 5px;
	line-height: 1;
}
.block-ranking {
	background: #fff;
	box-shadow: 0 4px 5px -2px rgba(0,0,0,0.3),0 -2px 7px -2px rgba(0,0,0,0.25);
}
.block-ranking .block-title {
	background: #308fc7;
	color: #fff;
	padding: 0 10px;
	height: 34px;
	line-height: 34px;
}
.block-ranking .stbody {
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 5px;
	border-bottom: 1px dashed #c2c0c0;
}
.btn-wrap a {
	background: #858181;
	color: #fff;
	padding: 2px 5px;
}
.btn-wrap .addicon {
	font-style: normal;
	margin-right: 5px;
	font-weight: bold;
}
/*daily quote*/
.block-daily-quote {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #c2c0c0;
}
.block-daily-quote .block-title {
	text-align: center;
	font-size: 18px;
	margin-bottom: 5px;
	color: #d34641;
}
.block-daily-quote .block-content {
	font-size: 12px;
	padding-right: 10px;
}
.block-daily-quote .quote-from {
	text-align: right;
	color: #d34641;
}
/*interset block*/
.block-interest .stbody {
	margin-top: 15px;
}
/*block weibo*/
.block-weibo .block-title {
	width: 181px;
	height: 20px;
	background-position: 0 -120px;
}
.block-weibo .input {
	border:1px solid #c2c0c0;
	box-shadow: 1px 1px 1px 0px #eaeaea inset;
	height: 88px;
	position: relative;
	border-radius: 3px;
	background-color: #fff;
}
.block-weibo textarea {
	background: transparent;
	width: 567px;
	height: 75px;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	outline: none;
	border: 0;
	margin: 1px 0 0;
	resize:none;
	box-shadow: none;
}
.block-weibo .icon-arrow {
	position: absolute;
	top: 10px;
	left: -11px;
}
.block-weibo .upload-img {
	padding-left:20px;
	font-size: 12px;
	position: relative; 
}
.block-weibo .icon-upload-img {
	position: absolute;
	top: 5px;
	left: 0;
}
/*weibo feed*/
.quicktabs {
	margin-bottom: 0;
	border-bottom: 1px solid #c2c0c0;
}
.quicktabs li {
	float: left;
}
.quicktabs a {
	display: block;
	float: left;
	padding: 2px 12px;
	color: #695252;
}
.quicktabs .active a {
	border:1px solid #c2c0c0;
	border-bottom-color: #f1f1f1;
	border-radius: 3px 3px 0 0;
	background: #f1f1f1;
	margin-bottom: -1px;
	color: #308fc7;
	box-shadow: -2px 0 1px -1px rgba(0,0,0,0.15),
	2px 0 1px -1px rgba(0,0,0,0.15),
	0 -2px 1px -1px rgba(0,0,0,0.15),
	inset 0 1px 0 rgba(255,255,255,.8),
	inset 1px 0 0 rgba(255,255,255,.8),
	inset -1px 0 0 rgba(255,255,255,.8);
}
/*comment*/
.comments-group {
	border-bottom: 1px solid #c2c0c0;
	padding-bottom: 15px;
	margin-top: 15px;
}
.comments-group .stbody {
	margin-bottom: 0;
}
.comment-handle li {
	display: inline;
	margin-left: 15px;
}
.comment-handle .icon-like {
	display: inline-block;
	vertical-align: -2px;
	margin-right: 5px;
}
.commtent-repeat textarea {
	overflow: hidden;
	margin: 0px 0px 5px;
	padding: 5px 4px;
	font-size: 12px;
	word-wrap: break-word;
	line-height: 18px;
	outline: none;
	border: 1px solid #c2c0c0;
	height: 18px;
	background: #fff;
	box-shadow: none;
	resize:none;
	border-radius: 0;
	width: 510px;
}
.comment-children {
	border-top: 1px solid #c2c0c0;
	padding-top: 10px;
}
.comment-children-list {
	padding-bottom: 10px;	
	border-bottom: 1px dashed #c2c0c0;
}
.comments-group .comment-children-list {
	margin-bottom: 10px;
}
.comment-from a {
	margin-right: 10px;
}
/*---------------------------------------*\
*ie8 hack 
\*---------------------------------------*/
.ie8 #nav > li > a:hover,
.ie8 #nav > li > a.active {
	background: url(../images/bg-nav-hover.png) repeat-x;
}